.carousel{
    margin: 40px;
    text-align: -webkit-center;
}
.col-sm-3{
    padding: 5px;
}

.seeall{
    height:308px;
    padding-top: 120px;
}
.ti{
    border: 1px solid #bdbdbd;
    color:#323223;
}
.main{
    margin: 40px;
    margin-top: 60px;
}
.row{
margin: 0;    
}

.productlist{
    padding: 10px;
    padding-top: 40px;  
}